$mainclrwhite:#FFFFFF;
$mainclrdark:#222222;
$mainclrpink:#f16d7f;
$mainclrgrey:#898989;
$backgroundclrgrey:#e8e8e8;
$backgroundclrlightgrey:#e6e6e6;
$backgroundclrdarkgrey:#cdcdcc;
$backgroundsmokewhite:rgba(247, 247, 247, 1);
$backgroundsmokepink:rgba(248, 243, 244, 1);
$textgray:#9f9f9f;
$textdarkgray: #646464;
$textblack: #2f2f2f;
$backgroundclractive:rgba(58, 56, 56, 0.83);
$containerwidth:1140px;