$mainclrwhite:#FFFFFF;
$mainclrdark:#222222;
$mainclrpink:#f16d7f;
$mainclrgrey:#898989;
$backgroundclrgrey:#e8e8e8;
$backgroundclrlightgrey:#e6e6e6;
$backgroundclrdarkgrey:#cdcdcc;
$textgray:#9f9f9f;
$backgroundclractive:rgba(58, 56, 56, 0.83);
$containerwidth:1140px;