@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background-color: #FFFFFF;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
p,
a,
summary,
button {
  color: #222222;
  font-family: "Lato";
  font-weight: 300;
  border: none;
  background: none;
}

a,
summary,
button {
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

details > summary {
  list-style: none;
}

.pinkcolored {
  color: #f16d7f;
}

.hidden {
  opacity: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
}
.navigation__top {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__topLeft {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 37px;
}
.navigation__topLeft_logoLink {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 13px;
  font-size: 27px;
}
.navigation__topLeft_logoText {
  font-size: 27px;
}
.navigation__topLeft_logoTextD {
  font-weight: 900;
}
.navigation__topLeft_logoPic {
  width: 59px;
  height: 51px;
}
.navigation__topLeft_search {
  height: 38px;
  width: 404px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.navigation__topLeft_searchSummary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.025em;
  background-color: #cdcdcc;
  border: 1px solid #e6e6e6;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border-radius: 3px 0px 0px 3px;
  height: 38px;
  width: 87px;
  gap: 8px;
}
.navigation__topLeft_searchInputPlace {
  width: 280px;
  height: 38px;
  color: #a4a4a4;
  font-size: 14px;
  letter-spacing: 0.025em;
  padding-left: 16px;
  border-right: 1px solid #e6e6e6;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.navigation__topLeft_searchInput {
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
}
.navigation__topLeft_searchSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
}
.navigation__topRight {
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 26px;
}
.navigation__topRight_cart {
  width: 32px;
  height: 29px;
}
.navigation__topRight_accountSummary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.025em;
  background-color: #f16d7f;
  height: 38px;
  width: 130px;
  gap: 8px;
  color: #FFFFFF;
  cursor: pointer;
}
.navigation__menu {
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 19px;
  padding-bottom: 22px;
  text-transform: uppercase;
  list-style-type: none;
}
.navigation__menuLinks {
  font-size: 14px;
  font-weight: 700;
  padding: 20px;
}
.navigation__menuLinks:hover {
  color: #f16d7f;
}
.navigation__menuLink {
  position: relative;
}
.navigation__menuLink:hover .navigation__megaMenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.navigation__menuLink_last:hover .navigation__megaMenu {
  right: 0;
  left: auto;
}
.navigation__menuLink_last:hover .navigation__megaMenu::before {
  right: 50px;
  left: auto;
}
.navigation__megaMenu {
  padding: 20px 0 20px 25px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  display: none;
  height: 330px;
  width: 846px;
  position: absolute;
  top: 30px;
  z-index: 5;
}
.navigation__megaMenu::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  position: absolute;
  top: -8px;
  left: 28px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.navigation__megaMenu_list {
  margin-right: 46px;
  margin-bottom: 22px;
}
.navigation__megaMenu_list:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}
.navigation__megaMenu_list h1 {
  font-size: 14px;
  font-weight: 700;
  color: #222222;
}
.navigation__megaMenu_list a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
  text-transform: none;
  padding: 16px 0 0 0;
  display: block;
}
.navigation__megaMenu_list a:hover {
  color: #f16d7f;
}
.navigation__megaMenu_tittle {
  border-bottom: #e8e8e8 solid 1px;
  padding-bottom: 8px;
  width: 235px;
}
.navigation__megaMenu_img {
  background: url(./img/megamenu.jpg);
  background-repeat: no-repeat;
  width: 255px;
  height: 118px;
}
.navigation__megaMenu_sale {
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #FFFFFF;
  padding-right: 10px;
  padding-bottom: 12px;
}
.navigation__megaMenu_pic {
  display: flex;
  justify-content: end;
  align-items: end;
}

.mainbanner__center {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 98px;
}
.mainbanner__center_picture {
  z-index: 1;
  position: relative;
}
.mainbanner__center_text {
  z-index: 2;
  position: absolute;
  width: 100%;
}
.mainbanner__center_text h1 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0.025em;
  margin-bottom: 18px;
}
.mainbanner__center_text h2 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0.025em;
}
.mainbanner__center_textBorder {
  border-left: #F16D7F;
  border-left-width: 12px;
  border-left-style: solid;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  line-height: 46px;
}

.addrectangle {
  z-index: 2;
  position: absolute;
  width: 261px;
  height: 280px;
  background-color: rgba(58, 56, 56, 0.83);
  display: flex;
  justify-content: center;
}
.addrectangle__button {
  position: absolute;
  z-index: 3;
  width: 123px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  gap: 11px;
  margin-top: 98px;
}
.addrectangle__button h2 {
  color: #FFFFFF;
  font-size: 13px;
}
.addrectangle__pic {
  width: 23px;
  height: 22px;
}

.fetured {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 33px;
}
.fetured__tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.fetured__tittle h1 {
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.fetured__tittle p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.fetured__blocks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2);
  gap: 30px;
  margin-bottom: 40px;
}
.fetured__blocksBlock {
  width: 261px;
  height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.fetured__blocksBlock_blockImg {
  height: 280px;
}
.fetured__blocksBlock_blockText {
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding-left: 15px;
}
.fetured__blocksBlock_blockText h1 {
  font-size: 14px;
  font-weight: 400;
  margin: 19px 0 10px 0;
  color: #646464;
}
.fetured__blocksBlock_blockText h2 {
  font-size: 16px;
  font-weight: 700;
}
.fetured__blocksBlock:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.fetured__blocksBlock:hover .hidden {
  position: absolute;
  z-index: 1;
  opacity: 1;
}
.fetured__bottom {
  display: flex;
  justify-content: center;
}
.fetured__bottomBrowse {
  width: 212px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  background-color: #f16d7f;
  border-width: 1px;
  border-color: #f16d7f;
  border-style: solid;
}
.fetured__bottomBrowse h2 {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.fetured__bottomBrowseArrow h2 {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.fetured__bottomBrowse:hover {
  background-color: #FFFFFF;
}
.fetured__bottomBrowse:hover h2 {
  color: #f16d7f;
}
.fetured__alsolike h1 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #646464;
  margin-bottom: 80px;
}

.offers {
  margin-top: 98px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.offers__offer {
  min-height: 261px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.offers__offer_big {
  grid-row: span 2;
}
.offers__offerLink {
  margin-top: 27px;
  background-color: #FFFFFF;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.offers__offerLink h1 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  margin-bottom: 8px;
}
.offers__offerLink h2 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
}
.offers__img1 {
  background: url(./img/offer1.png);
  background-repeat: no-repeat;
}
.offers__img2 {
  background: url(./img/offer2.png);
  background-repeat: no-repeat;
}
.offers__img3 {
  background: url(./img/offer4.png);
  background-repeat: no-repeat;
}
.offers__img4 {
  background: url(./img/offer3.png);
  background-repeat: no-repeat;
}

.articles {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 100px;
}
.articles__leftSide {
  margin-top: 80px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  height: 529px;
}
.articles__img {
  background: url(./img/banner2.jpg);
  background-repeat: no-repeat;
}
.articles__leftSideOffer {
  margin-top: 146px;
  margin-left: 39px;
}
.articles__leftSideOffer h1 {
  font-size: 54px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.articles__leftSideOffer h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.articles__rigthSide {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 48px 36px;
  background-color: #222222;
}
.articles__rightSideArticle {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.articles__rightSideArticle h1 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}
.articles__rightSideArticle p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}
.articles__rightSideImg {
  min-width: 45px;
  margin-right: 32px;
}
.articles__rightSideText {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.subscribes {
  margin-bottom: 110px;
  height: 438px;
}
.subscribes__img {
  background: url(./img/backgroundpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.subscribes__block {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 165px;
  height: 438px;
}
.subscribes__LeftSide {
  max-width: 500px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 28px;
}
.subscribes__LeftSide p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.subscribes__LeftSideName h1 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.subscribes__LeftSideName p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
}
.subscribes__LeftSideName {
  margin-top: 19px;
}
.subscribes__LeftSideText {
  display: flex;
  flex-direction: column;
}
.subscribes__LeftSideStrings {
  display: flex;
  justify-content: start;
  margin-top: 40px;
  gap: 13px;
}
.subscribes__LeftSideStrings1 {
  width: 38px;
  height: 4px;
  background-color: #cdcdcc;
}
.subscribes__LeftSideStrings2 {
  width: 38px;
  height: 4px;
  background-color: #f16d7f;
}
.subscribes__RightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.subscribes__RightSide h1 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.subscribes__RightSide p {
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
}
.subscribes__RightSideText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribes__RightSideForm {
  display: flex;
  justify-content: center;
}
.subscribes__RightSideForm_input {
  background-color: #e6e6e6;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  width: 234px;
  padding-left: 22px;
  height: 49px;
  color: #222222;
  opacity: 0.67;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.subscribes__RightSideForm_button {
  color: #FFFFFF;
  background-color: #f16d7f;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100px;
  height: 49px;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.subscribes__RightSideForm_button:hover {
  background-color: #FFFFFF;
  color: #f16d7f;
  border: solid 1px #f16d7f;
}

.articlescatalog {
  height: 341px;
  background-color: #222222;
  margin-top: 110px;
}
.articlescatalog__block {
  height: 341px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articlescatalog__article {
  height: 134px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.articlescatalog__article img {
  max-width: 47px;
}
.articlescatalog__article h1 {
  font-size: 20px;
  margin-bottom: 21px;
  color: #FBFBFB;
}
.articlescatalog__article p {
  font-size: 14px;
  color: #FBFBFB;
  text-align: center;
  padding: 0 20px 0 20px;
}
.articlescatalog__Img {
  height: 73px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.info {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  margin-bottom: 90px;
}
.info__RightSideBlock h1 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-bottom: 30px;
}
.info__RightSideBlock p:hover {
  color: #f16d7f;
}
.info__RightSideBlock p {
  font-size: 16px;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}
.info__LeftSideText p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  margin-top: 40px;
  margin-right: 64px;
}

.footer {
  background-color: #e6e6e6;
}
.footer__Block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}
.footer__LeftSide p {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}
.footer__RightSide {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  max-width: 192px;
}
.footer__RightSideIcon svg {
  height: 16px;
  fill: #898989;
}
.footer__RightSideIcon {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__RightSideIcon:hover {
  background-color: #f16d7f;
}
.footer__RightSideIcon:hover svg {
  fill: #FFFFFF;
}

.breadcrumbs {
  background-color: rgb(248, 243, 244);
  padding: 68px 0 68px 0;
}
.breadcrumbs__center {
  display: flex;
  justify-content: space-between;
  align-items: CENTER;
}
.breadcrumbs__tittle {
  font-weight: 300;
  line-height: 20px;
  font-size: 24px;
}
.breadcrumbs__rightside {
  display: flex;
}
.breadcrumbs__crumbs {
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  color: #646464;
}
.breadcrumbs__crumbs::after {
  content: " / ";
  padding-right: 2px;
}
.breadcrumbs__crumbs:last-child::after {
  content: " ";
}
.breadcrumbs__crumbs:last-child {
  color: #f16d7f;
  font-weight: 700;
}

.product {
  margin-bottom: 122px;
  font-family: "Lato";
}
.product__imgslider {
  height: 724px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  background-color: rgb(247, 247, 247);
}
.product__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
}
.product__navi p {
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 24px;
}
.product__navi:hover p {
  color: #f16d7f;
}
.product__navi {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cdcdcc;
  width: 48px;
  height: 48px;
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 24px;
}
.product__navileft {
  padding-left: 3px;
}
.product__naviright {
  padding-right: 3px;
}
.product__img {
  position: relative;
}
.product__info {
  margin-top: -84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 122px;
}
.product__add {
  margin-top: 28px;
  width: 536px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #f16d7f;
  border-width: 1px;
  border-color: #f16d7f;
  border-style: solid;
}
.product__add a {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}
.product__add svg {
  fill: #FFFFFF;
}
.product__add:hover {
  background-color: #FFFFFF;
}
.product__add:hover a {
  color: #f16d7f;
}
.product__add:hover svg {
  fill: #f16d7f;
}
.product__collection {
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 72px 0 14px 0;
}
.product__heading {
  background-color: #FFFFFF;
  width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #e6e6e6;
}
.product__bordergrey {
  background-color: #cdcdcc;
  width: 25px;
  height: 1px;
}
.product__borderpink {
  background-color: #f16d7f;
  width: 98px;
  height: 3px;
}
.product__collectionborder {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
.product__tittle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #646464;
  margin-bottom: 67px;
}
.product__description {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #898989;
  width: 618px;
  margin-bottom: 28px;
}
.product__varies {
  display: flex;
  justify-content: space-between;
  font-family: "Lato";
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #9f9f9f;
  width: 332px;
  margin-bottom: 36px;
}
.product__varie {
  display: flex;
  gap: 4px;
}
.product__variebold {
  color: #2f2f2f;
}
.product__price {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 44px;
  margin-bottom: 64px;
  border-bottom: 1px solid #e6e6e6;
  width: 642px;
  text-align: center;
}
.product__properties {
  display: flex;
  justify-content: space-between;
  width: 536px;
}
.product__variebold {
  font-weight: 700;
  color: #2f2f2f;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.product__detail {
  width: 120px;
  border: 1px solid #e6e6e6;
  padding: 11px 9px 11px 14px;
}
.product__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__summary p {
  font-weight: 400;
  font-size: 13px;
  color: #cdcdcc;
}
.product__color {
  width: 12px;
  height: 12px;
  background-color: #f16d7f;
}
.product__colorchose {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 11px;
}

.catalog {
  display: flex;
  margin-top: 60px;
  gap: 50px;
}
.catalog__sidebar {
  width: 294px;
}
.catalog__rightSide {
  width: 846px;
}
.catalog__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3);
  gap: 30px;
  margin-bottom: 40px;
}
.catalog__item {
  box-sizing: border-box;
  width: 243px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}
.catalog__item .catalog__open {
  display: none;
}
.catalog__item[open] .catalog__tittle {
  color: #f16d7f;
}
.catalog__item[open] .catalog__closed {
  display: none;
}
.catalog__item[open] .catalog__open {
  display: flex;
}
.catalog__tittle {
  text-transform: uppercase;
  color: #646464;
  font-family: "Lato";
  font-weight: 700;
  font-size: 14px;
}
.catalog__link {
  padding: 22px 0 0 17px;
  font-size: 14px;
  font-weight: 400;
  color: #646464;
}
.catalog__link:hover {
  color: #f16d7f;
}
.catalog__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: solid #f16d7f 5px;
  border-bottom: solid #e6e6e6 1px;
  padding: 12px 0 12px 11px;
  color: #646464;
}
.catalog__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog__pages {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 260px;
  padding: 17px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}
.catalog__pageslinks {
  color: #898989;
  font-size: 16px;
  font-weight: 300;
}
.catalog__pageslinks:hover {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 300;
}
.catalog__pages svg {
  fill: #898989;
}
.catalog__pagesprev:hover svg {
  fill: #f16d7f;
}
.catalog__pagesnext:hover svg {
  fill: #f16d7f;
}
.catalog__pagesnumbers {
  height: 20px;
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.catalog__pagesselect {
  color: #f16d7f;
}
.catalog__sorting {
  padding: 10px 0px 10px 10px;
  background-color: #e6e6e6;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: start;
  gap: 10px;
}
.catalog__sortby {
  background-color: #FFFFFF;
  display: flex;
  border: solid 1px #cdcdcc;
  border-radius: 2px;
}
.catalog__sortbysummary {
  font-size: 14px;
  font-weight: 400;
  color: #646464;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.catalog__sortbysummary:hover {
  color: #f16d7f;
}
.catalog__sortbyname {
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #646464;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: solid 1px #cdcdcc;
}
.catalog__sortbyname .catalog__open {
  display: none;
}
.catalog__sortbyname[open] .catalog__tittle {
  color: #f16d7f;
}
.catalog__sortbyname[open] .catalog__closed {
  display: none;
}
.catalog__sortbyname[open] .catalog__open {
  display: flex;
}
.catalog__sortbynaming p {
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #646464;
}
.catalog__sortbylink {
  font-size: 14px;
  font-weight: 400;
  color: #646464;
}
.catalog__sortbylink:hover {
  color: #f16d7f;
}
.catalog__filterTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog__filterproperty {
  font-family: "Lato";
  width: 260px;
  color: #646464;
  font-size: 14px;
}
.catalog__filtername {
  margin-bottom: 25px;
  font-weight: 700;
}
.catalog__filtersizes {
  width: 290px;
  display: flex;
  font-weight: 400;
  font-family: "Lato";
  flex-wrap: wrap;
  font-weight: 400;
}
.catalog__filtertypes {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: "Lato";
  flex-wrap: wrap;
  font-weight: 400;
}
.catalog__filterprice {
  display: flex;
  justify-content: start;
  align-items: center;
}
.catalog__priceblock {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog__pricetext {
  font-weight: 400;
  font-family: "Lato";
  color: #646464;
  font-size: 14px;
}
.catalog__filterlinks {
  padding: 0 10px 0 0;
  margin: 0 10px 10px 0;
  font-weight: 400;
  font-family: "Lato";
  color: #646464;
  font-size: 14px;
  border-right: solid 1px #cdcdcc;
}
.catalog__filterlinks:hover {
  color: #f16d7f;
}
.catalog__withoutborder {
  border-right: none;
}
.catalog__filtercheckbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  height: 16px;
  width: 16px;
  border: solid 1px #cdcdcc;
  border-radius: 2px;
  cursor: pointer;
}
.catalog__filtercheckbox:checked::after {
  content: "✔";
  position: absolute;
  top: -2px;
  left: 2px;
  width: 0px;
  height: 0px;
  font-size: 12px;
  color: #898989;
}
.catalog__filterchecklabel {
  padding: 0 10px 0 10px;
  margin: 0 10px 10px 0;
  width: 25px;
  font-weight: 400;
  cursor: pointer;
}
.catalog__filterprice {
  display: flex;
  justify-content: start;
}
.catalog__pricegray1 {
  margin-right: -3px;
  width: 16px;
  height: 8px;
  background-color: #e6e6e6;
}
.catalog__pricecolored {
  width: 127px;
  height: 8px;
  background-color: #f16d7f;
  margin: 0 -3px 0 -3px;
}
.catalog__priceround {
  width: 17px;
  height: 17px;
  background-color: #f16d7f;
  border-radius: 100%;
  margin-right: -2px;
}
.catalog__pricegray2 {
  width: 100px;
  height: 8px;
  background-color: #e6e6e6;
  border-left: solid 2px #f16d7f;
}

.cart__grid {
  margin-top: 90px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 0.3fr;
}
.cart__product {
  display: flex;
  justify-content: start;
  gap: 20px;
  padding: 20px 0 20px 0;
}
.cart__productimg {
  width: 102px;
}
.cart__productdescription {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
  justify-content: space-between;
}
.cart__tittle h1 {
  font-size: 14px;
  font-weight: 700;
  color: #222222;
  font-family: "Lato";
  text-transform: uppercase;
}
.cart__tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.cart__start {
  display: flex;
  justify-content: start;
  align-items: center;
}
.cart__bordered {
  border-bottom: solid 1px #e6e6e6;
}
.cart__productproperties p {
  font-size: 14px;
  font-weight: 500;
  color: #2f2f2f;
  padding-top: 10px;
}
.cart__productmeaning {
  font-weight: 300;
  color: #646464;
}
.cart__text p {
  font-size: 14px;
  font-weight: 500;
  color: #2f2f2f;
}
.cart__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__img {
  height: 15px;
  width: 15px;
}
.cart__quantity {
  border: solid 1px #e6e6e6;
  padding: 5px 20px 5px 20px;
}
.cart__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}
.cart__button {
  padding: 22px 40px 19px 40px;
  border: solid 1px #e6e6e6;
  font-size: 14px;
  font-weight: 700;
  color: #222222;
  font-family: "Lato";
  text-transform: uppercase;
}
.cart__shipping {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 325.7142857143px;
  gap: 20px;
}
.cart__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px 20px 20px;
  font-size: 13px;
  font-weight: 300;
  border: 1px solid #e6e6e6;
  font-family: "Lato";
  gap: 8px;
  width: 300px;
  color: #898989;
}
.cart__summary::-moz-placeholder {
  font-size: 13px;
  font-weight: 300;
  font-family: "Lato";
  color: #898989;
}
.cart__summary::placeholder {
  font-size: 13px;
  font-weight: 300;
  font-family: "Lato";
  color: #898989;
}
.cart__smallbutton {
  padding: 14px 16px;
  font-size: 11px;
}
.cart__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}
.cart__heading {
  font-size: 16px;
  font-weight: 700;
  font-family: "Lato";
  text-transform: uppercase;
}
.cart__checkout {
  font-size: 16px;
  font-weight: 700;
  font-family: "Lato";
  text-transform: uppercase;
  background-color: #f16d7f;
  color: #FFFFFF;
  padding: 20px 44px;
  border: 1px solid #f16d7f;
}
.cart__checkout:hover {
  color: #f16d7f;
  background-color: #FFFFFF;
}
.cart__proceed {
  display: flex;
  align-items: end;
  justify-content: start;
  flex-direction: column;
  align-self: flex-start;
  padding: 42px 42px;
  background-color: #e6e6e6;
}
.cart__subtotal p {
  font-size: 11px;
  font-weight: 400;
  font-family: "Lato";
  text-transform: uppercase;
  margin-bottom: 14px;
}
.cart__sum {
  font-weight: 700;
  padding-left: 20px;
}
.cart__grandtotal p {
  font-size: 16px;
  font-weight: 700;
  font-family: "Lato";
  text-transform: uppercase;
  margin-bottom: 20px;
}
.cart__colored {
  color: #f16d7f;
  padding-left: 20px;
}
.cart__lined {
  padding-top: 14px;
  border-top: 1px solid #9f9f9f;
}/*# sourceMappingURL=style.css.map */